html {
  background-color: rgb(25,207,0);
  background-image: linear-gradient(164deg, rgb(76, 233, 55) 0%, rgba(8,208,78,1) 11%, rgba(43,215,103,1) 20%, rgba(72,220,159,1) 33%, rgba(138,233,216,1) 57%, rgba(184,225,242,1) 74%, rgb(205, 192, 240) 84%, rgb(212, 159, 212) 100%);
}

body {
  padding: 2em;
}

h1, h2 {
  font-family: Garamond;
}


div.container h1 {
  text-align: center;
  font-size: 36pt;
}

#mainTitle{
  text-shadow: 2px 2px 3px rgba(226, 221, 221, 0.895);
}

#profileImage {
  width: 20%;
  height: auto;
  float: left;
  padding-right: 2em;
  padding-bottom: 2em;
}

p {
  text-indent: 1em;
  font-size: 15pt;
  font-family: sans-serif;
  line-height: 2em;
  padding-bottom: 2em;
}

ul {
  font-size: 15pt;
  line-height: 2em;
  padding-bottom: 2em;
}

ol {
  font-size: 15pt;
  line-height: 2em;
  padding-bottom: 2em;
}

#personalBackground {
  width: 85%;
  align-content: center;
}

#experience {
  clear: both;
  width: 40%;
  float:left;
}

#programmingLanguages {
  width: 40%;
  float: right;
}

#achievements {
  clear: both;
  float: left;
  width: 40%;
}

#games {
  float:right;
  width: 40%;
}